body {
  /*Estilo del cuerpo de la paigna*/
  display: flex;
  flex-direction: column;
  background-color: #EDDCD2;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

main {
  /*Estilo del cuerpo de la pagina*/
  flex: 1 0 auto;
}
.nav-wrapper{
    /*Estilo del nav bar*/
    background-image: url('../img/public/navp.jpg');
    background-position: center;

}
#textotitulo{
  /*Texto del texto de explicacion*/
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5vw;
  text-align: justify;
}
.medidas-telefono{
  height: 300px;
  width: 200px;
}
@media only screen and(max-width : 900px){

  .medidas-telefono{
    height: 300px;
    width: 200px;
  }
  .nav-wrapper{
    /*Estilo del nav bar*/
    background-image: url('../img/public/navp.jpg')s;
    background-position: center;
    background-size:contain;
  } 
  iframe{
    size:20vm;
  }
  #textotitulo{
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    text-align: justify;
  }
}
#titulo{
  /*Estilo de los textos titulo*/
  font-family: 'Jomhuria', cursive;
  font-size: 10vw;

}
.clientes{
  background-color: #F0EFEB;
}

.carousel{
  /*Posicion del carrusel*/
 position: relative; 
 top: -100px;
}

#ImagenRes{
  /*Responisve images*/
  height: 300px;
  width: 200px;
}
#blur1{
  filter:blur(6px)
}
.glide__slide img{
  width: 100%;
}

.glide__slide{
  filter: blur(6px);
  opacity: .7;
  transition: .3s linear;
}

.glide__slide--active{
  opacity: 1;
  filter: none;
  transform: scale(1.1);
}

.glide__slides{
  overflow: visible;
}
.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}
.texto-encima{
  position: absolute;
  top: 10px;
  left: 10px;
}
.centrado{
  font-size: 24px;
  font-weight: 300;
  cursor: pointer;
  color: #fff;
  position:absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
  top: 210px;
}