body {
  /*Estilo del cuerpo de la paigna*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #EDDCD2;
}

main {
  /*Estilo del cuerpo de la paigna*/
  flex: 1 0 auto;
}

.nav-wrapper{
    /*Estilo del nav bar*/
    background-image: url('../img/public/navp.jpg');
    background-position: center;
}

@media only screen and(max-width : 900px){
  .nav-wrapper{
    /*Estilo del nav bar*/
    background-image: url('../img/public/navp.jpg')s;
    background-position: center;
    size: 10vw;
  } 
  iframe{
    size:20vm;
  }
}
#titulo{
  /*Estilo de los textos titulo*/
  font-family: 'Jomhuria', cursive;
  font-size: 10vw;

}
#textotitulo{
  /*Texto del texto de explicacion*/
  font-family: 'Roboto Mono', monospace;
  font-size: 3vw;
  text-align: justify;
}
.carousel{
  /*Posicion del carrusel*/
 position: relative; 
 top: -100px;
}

#ImagenRes{
  /*Responisve images*/
  height: 225px;
}
 